rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Match everything
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
