@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 241 30% 19%;
    --foreground: 0 0% 98%;
    --card: 241 30% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 241 30% 19%;
    --popover-foreground: 0 0% 98%;
    --primary: 242 100% 70%;
    --primary-foreground: 241 30% 12%;
    --secondary: 241 30% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 241 30% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 248 100% 90%;
    --accent-foreground: 241 30% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 241 30% 30%;
    --input: 241 30% 25%;
    --ring: 248 100% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
