@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 97%;
    --foreground: 215 48% 12%;

    --card: 0 0% 100%;
    --card-foreground: 215 48% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 48% 12%;

    --primary: 215 48% 12%;
    --primary-foreground: 40 33% 97%;

    --secondary: 39 32% 60%;
    --secondary-foreground: 215 48% 12%;

    --muted: 43 19% 89%;
    --muted-foreground: 210 9% 44%;

    --accent: 39 32% 60%;
    --accent-foreground: 215 48% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 44 19% 82%;
    --input: 44 19% 82%;
    --ring: 215 48% 12%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
