@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 50% 11%;
    --foreground: 48 29% 97%;
    --card: 217 48% 14%;
    --card-foreground: 48 29% 97%;
    --popover: 217 48% 14%;
    --popover-foreground: 48 29% 97%;
    --primary: 42 28% 60%;
    --primary-foreground: 216 50% 11%;
    --secondary: 42 28% 60%;
    --secondary-foreground: 216 50% 11%;
    --muted: 210 14% 50%;
    --muted-foreground: 210 9% 73%;
    --accent: 42 28% 60%;
    --accent-foreground: 216 50% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 38% 20%;
    --input: 217 38% 20%;
    --ring: 42 28% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 216 50% 11%;
    --foreground: 48 29% 97%;
    --card: 217 48% 14%;
    --card-foreground: 48 29% 97%;
    --popover: 217 48% 14%;
    --popover-foreground: 48 29% 97%;
    --primary: 42 28% 60%;
    --primary-foreground: 216 50% 11%;
    --secondary: 42 28% 60%;
    --secondary-foreground: 216 50% 11%;
    --muted: 210 14% 50%;
    --muted-foreground: 210 9% 73%;
    --accent: 42 28% 60%;
    --accent-foreground: 216 50% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 38% 20%;
    --input: 217 38% 20%;
    --ring: 42 28% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
