@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 46% 11%;
    --foreground: 40 33% 97%;
    --card: 213 46% 14%;
    --card-foreground: 40 33% 97%;
    --popover: 213 46% 14%;
    --popover-foreground: 40 33% 97%;
    --primary: 42 28% 60%;
    --primary-foreground: 213 46% 11%;
    --secondary: 42 28% 60%;
    --secondary-foreground: 213 46% 11%;
    --muted: 210 14% 50%;
    --muted-foreground: 210 9% 73%;
    --accent: 42 28% 60%;
    --accent-foreground: 213 46% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 40 33% 97%;
    --border: 214 34% 20%;
    --input: 214 34% 20%;
    --ring: 42 28% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 213 46% 11%;
    --foreground: 40 33% 97%;
    --card: 213 46% 14%;
    --card-foreground: 40 33% 97%;
    --popover: 213 46% 14%;
    --popover-foreground: 40 33% 97%;
    --primary: 42 28% 60%;
    --primary-foreground: 213 46% 11%;
    --secondary: 42 28% 60%;
    --secondary-foreground: 213 46% 11%;
    --muted: 210 14% 50%;
    --muted-foreground: 210 9% 73%;
    --accent: 42 28% 60%;
    --accent-foreground: 213 46% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 40 33% 97%;
    --border: 214 34% 20%;
    --input: 214 34% 20%;
    --ring: 42 28% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
