@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 48% 11%;
    --foreground: 40 33% 96%;

    --card: 215 45% 14%;
    --card-foreground: 40 33% 96%;

    --popover: 215 45% 14%;
    --popover-foreground: 40 33% 96%;

    --primary: 40 32% 60%;
    --primary-foreground: 215 48% 11%;

    --secondary: 40 32% 60%;
    --secondary-foreground: 215 48% 11%;
    
    --muted: 210 14% 50%;
    --muted-foreground: 210 9% 73%;

    --accent: 40 32% 60%;
    --accent-foreground: 215 48% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 35% 20%;
    --input: 216 35% 20%;
    --ring: 40 32% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
