@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 244 31% 12%; /* #171626 */
    --foreground: 240 22% 90%; /* #E0DFF0 */

    --card: 244 31% 15%; /* #1B1A2C */
    --card-foreground: 240 22% 90%; /* #E0DFF0 */

    --popover: 244 31% 12%; /* #171626 */
    --popover-foreground: 240 22% 90%; /* #E0DFF0 */

    --primary: 258 100% 70%; /* #8A7EFF */
    --primary-foreground: 244 31% 12%; /* #171626 */

    --secondary: 244 31% 20%; /* #26253A */
    --secondary-foreground: 240 22% 90%; /* #E0DFF0 */

    --muted: 244 31% 20%; /* #26253A */
    --muted-foreground: 240 10% 60%; /* #9290A6 */

    --accent: 258 100% 80%; /* #B3A9FF */
    --accent-foreground: 244 31% 12%; /* #171626 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 244 31% 25%; /* #33314F */
    --input: 244 31% 25%; /* #33314F */
    --ring: 258 100% 70%; /* #8A7EFF */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.auth-bg {
    background-color: hsl(var(--background));
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
