@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 44% 11%;
    --foreground: 0 0% 98%;
    --card: 261 44% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 261 44% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 80% 70%;
    --primary-foreground: 261 44% 10%;
    --secondary: 261 44% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 261 44% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 262 80% 80%;
    --accent-foreground: 261 44% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 44% 22%;
    --input: 261 44% 17%;
    --ring: 262 80% 80%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
